/* commit 1 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;700&display=swap');


:root{
    --primary-color: blue;
    --secondary-color: black;
    --light-color: white;
    --dark-color: black;
    --main-font: 'Poppins', sans-serif;
    --title-font: 'Roboto', sans-serif;
    --spacing: 20px;
}


body{
    font-family: var(--main-font);

}
h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font)
}

body{
    background-color: var(--light-color);
    color: var(--secondary-color);
}

button{
    background-color: var(--primary-color);
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
}
img{
    max-width: 100%;
    display: block;

}

/* header */

.container-fluid{
    position: fixed;
    padding-bottom: 1.7em;
}
a{
    text-decoration: none;
    list-style: none;
    font-size: x-large;
}
li{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
     
}

.headdiv1{
    padding-bottom: 10em;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end;
    justify-content: space-around;
    background-color: #f2f4f5;
}

/* ul{
    display: flex;
    flex-direction: row;
    justify-content: var(--spacing);
    justify-content: space-between;
    text-align: end;
} */

.photos{
    width: 4em;
}


/* section hero */

.sechero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25em;
    margin-top: 2.8em;
    background-image: url(/images/image1.png);
    color: #070707;
    border-radius: 1em;
    background-repeat: no-repeat;
       
}

.secherodiv1 h1{
    font-size: 55px;
}
.secherodiv1 h2{
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    list-style: circle;
}

.herodiv3{
    font-weight: 800;
}
.secherodiv4 button{
    padding: 5px 15px;
    border: none;
    margin-right: 15px;
    background-color: rgb(115, 115, 246);
    color: #eeefef;
    border-radius: 0.5em;

}

.secherodiv4 button a{
    color: white;
    font-size: larger;
}

/* statistique */

.stats{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

/* comment ça marche */

.sec2{
    block-size: 500px;
}
 /* categories de services */

 .height{
    height: 15em;
 }

 .service-card{
    transition: 0.3s;
    border-radius: 20pxp;
 }

 .service-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
 }


 /* temoignage */









 #testimonials img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #2a5298;
}

.stars {
  font-size: 1.2rem;
  color: #ebbf13;
}



